<!DOCTYPE html>
<html ng-app="SchedulerApp">
  <head>
    <title>AngularJS test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="scheduler.js"></script>
    <link rel="stylesheet" href="scheduler.css">
  </head>
  <body>
    <h1>Scheduler</h1>

    <div ng-controller="SchedulerController">
      <ul>
        <li ng-repeat="person in people">
          {{person.name}}:
          <span ng-repeat="plan in person.plans">
            <label>
              {{plan.name}}
              <select ng-model="plan.answer">
                <option label="x" value="0">
                <option label="?" value="1">
                <option label="o" value="2">
              </select>
            </label>
        </li>
      </ul>
      <form ng-submit="addPerson()">
        <input ng-model="newPersonName"  type="text" size="30"
               placeholder="New person name">
        <input type="submit" value="Add person">
      </form>
    </div>
  </body>
</html>
